@if(reservation) {
  @if(reservation.payment) {
    @switch (reservation.payment.status) {
      @case("todo") {
        @if(isFreshReservation()){
          <p class="text-xl text-center mb-3" i18n>Il pagamento di conferma della prenotazione <b class="text-danger">non risulta essere andato a buon fine</b>, ma è possibile che sia necessario aspettare qualche minuto. Qualora fosse il caso, tra poco ti forniremo il link per riprovare il pagamento. Riprova più tardi o contattaci.</p>
        } @else {
          <p class="text-xl text-center mb-3" i18n>Il pagamento di conferma della prenotazione <b class="text-danger">non risulta essere andato a buon fine</b>.</p>

          <div class="flex items-center justify-center mb-3">
            <a href="{{ reservation.payment.hpp_url }}" class="btn-primary me-2" size="m" tuiButton appearance="custom">
              <ng-container i18n>Esegui pagamento</ng-container>

              @if(reservation.payment.value) {
                {{ reservation.payment.value | currency }}
              }
            </a>
          </div>
        }
      }

      @case ("paid") {
        @if(reservation.payment.value) {
          <p class="text-xl text-center mb-3" i18n>Il pagamento della prenotazione di {{ reservation.payment.value | currency }} è andato a buon fine e la prenotazione è confermata.</p>
         }@else {
          <p class="text-xl text-center mb-3" i18n>Il pagamento della prenotazione è andato a buon fine e la prenotazione è confermata.</p>
        }
      }

      @case("refunded"){
        @if(reservation.payment.value) {
          <p class="text-xl text-center mb-3" i18n>Il pagamento della prenotazione di {{ reservation.payment.value | currency }} è stato <b class="text-danger">rimborsato</b>.</p>
        } @else {
          <p class="text-xl text-center mb-3" i18n>Il pagamento della prenotazione è stato <b class="text-danger">rimborsato</b>.</p>
        }
      }
    }
  } @else {
    <!-------------------------- Payment not required -------------------------->
    <p class="text-xl text-center mb-3" i18n>La tua prenotazione è stata creata.</p>
  }

    <p class="text-xl text-center mb-3">
      @if(isFreshReservation()){
        <ng-container i18n>Riceverai a breve un'email di conferma.</ng-container>
      } @else {
        <ng-container i18n>Dovresti aver ricevuto una mail di conferma. Non è arrivata?</ng-container>

        <span class="cursor-pointer inline-flex items-center ms-2 underline" (click)="resendConfirmation()" type="button" role="button" size="m">
          @if(resendingConfirmation()) {
            <tui-loader size="xs" ></tui-loader>
          } @else {
            <ng-container i18n>Rimanda email</ng-container>
          }
        </span>
      }
    </p>

    <p class="text-xl text-center mb-3">
      <ng-container i18n>La prenotazione è fissata per </ng-container>
      {{ reservation.datetime | date: 'EEEE d MMMM y' }} {{ reservation.datetime | date: 'HH:mm' }}. </p>
  
    <app-public-message class="block mb-3 text-center text-xl"
                        [location]="'existing-reservation-form'"></app-public-message>

  <div class="px-3 mb-3 text-xl">
    <p class="block mb-2 text-center" i18n>Dimenticato qualcosa?</p>

    <div class="flex items-center justify-center">
      <app-contact-us>
        <ng-container i18n>Contattaci</ng-container>
      </app-contact-us>
      <span class="mx-2">-</span>
      <a routerLink="/cr/{{ reservation.secret }}" tuiLink><ng-container i18n>Cancella prenotazione</ng-container></a>
    </div>
  </div>

}