<h1 i18n>Dettagli pagamento alla prenotazione</h1>

@if(item()){
  <table class="tui-table mb-3">
    <tbody>
      <tr class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td">
          <span class="text-xl" i18n>Titolo</span>
        </td>

        <td class="tui-table__td">
          {{ item()!.title }}
        </td>
      </tr>

      <tr class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td">
          <span class="text-xl" i18n>Tipologia pagamento</span>
        </td>

        <td class="tui-table__td">
          <app-preorder-reservation-group-preorder-type
            [type]="item()?.preorder_type"
          ></app-preorder-reservation-group-preorder-type>
        </td>
      </tr>

      <tr class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td">
          <span class="text-xl" i18n>Valore pagamento</span>
        </td>

        <td class="tui-table__td">
          {{ item()!.payment_value | currency }}
        </td>
      </tr>


      <tr class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td">
          <span class="text-xl" i18n>Messaggio</span>
        </td>

        <td class="tui-table__td">
            <app-show-translations [translations]="item()?.translations?.message"></app-show-translations>
        </td>
      </tr>

      <tr class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td">
          <span class="text-xl" i18n>Stato</span>
        </td>

        <td class="tui-table__td">
          <app-preorder-reservation-group-status
            [item]="item()!"
          ></app-preorder-reservation-group-status>
        </td>
      </tr>

    </tbody>
  </table>

  <h2 class="mb-3 text-2xl" i18n>Tipologie di tavolo abilitate ({{(item()?.table_type_to_preorder_reservation_groups || []).length}})</h2>
  <div class="block">
    @for(join of item()?.table_type_to_preorder_reservation_groups; track join.id) {
      @if(join.table_type_id) {
        <div class="flex items-center">
          <app-show-image class="max-w-[300px]"
            [image]="(tableTypeByIds()[join.table_type_id].images || [])[0]"></app-show-image>
        
          <div class="block p-4">
            <p class="block text-xl font-bold">
              {{ tableTypeByIds()[join.table_type_id].name }}
            </p>
        
            <div class="block mb-2">
                <ng-container i18n>Prezzo per persona</ng-container>
                {{ join.price | currency }}
            </div>
        
            <div class="block mb-2">
                <ng-container i18n>Ospiti per turno</ng-container>

                {{ join.people_per_turn }}
            </div>
          </div>
        </div>
      }
      
    }
  </div>

  <h2 class="mb-3 text-2xl" i18n>Quando sono richiesti pagamenti?</h2>

  <app-select-turns-paymentv2
    class="block mb-3"
    [item]="item()"
    [editable]="false"
  ></app-select-turns-paymentv2>

  <div>
    <a class="mb-3" routerLink="edit" tuiButton appearance="flat">
      <ng-container i18n>Modifica</ng-container>
    </a>
  
    <div>
      <button (click)="delete()" tuiButton appearance="secondary-destructive" type="button">
        <ng-container i18n>Elimina</ng-container>
      </button>
    </div>
  </div>

} @else if (loading()) {
  <tui-loader [showLoader]="true" ></tui-loader>
} @else {
  <p>
    <ng-container i18n>Non trovato :'(</ng-container>
  </p>
}