<ng-template #noItems>
  <ng-container i18n>Nessun elemento</ng-container>
</ng-template>

<h1 i18n>Impostazioni di sistema</h1>
<p class="text-slate-400 mb-3" i18n>Queste impostazioni verranno applicate a tutto il sito ed i suoi iscritti.</p>

<form [formGroup]="form">
  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Lingua di default</p>
    <p class="text-slate-400" i18n>Qual'è la lingua di default del sistema?</p>

    <app-preferences-select
        [formControlName]="'default_language'"
        [items]="allLanguages"
        [itemContent]="languageItemContent"
        [stringifyFn]="applyPipeFunction(languagePipe)"
        (submit)="save('default_language', $event)"
        [inputSize]="inputSize"
    >
      <ng-container i18n>Seleziona la lingua di default</ng-container>
    </app-preferences-select>
  </div>

  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Storno pagamento automatico per prenotazioni cancellate in tempo</p>
    <p class="text-slate-400" i18n>Se un utente prenota e paga per la prenotazione, nel momento in cui cancella la prenotazione prima del tempo limite, deve avvenire lo storno del pagamento in automatico?</p>

    <ng-template #trueFalseEnabledContent let-item>
      @if(item === "true"){
        <ng-container i18n>Attivo</ng-container>
      } @else {
        <ng-container i18n>Disattivo</ng-container>
      }
    </ng-template>

    <app-preferences-select
        [formControlName]="'nexi_auto_refund_cancelled_reservations'"
        [items]="trueFalse"
        [itemContent]="trueFalseEnabledContent"
        [stringifyFn]="applyPipeFunction(languagePipe)"
        (submit)="save('nexi_auto_refund_cancelled_reservations', $event)"
        [inputSize]="inputSize"
    >
      <ng-container i18n>Storno automatico attivo?</ng-container>
    </app-preferences-select>
  </div>

  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Lingue di sistema</p>
    <p class="text-slate-400" i18n>Quali lingue vuoi supportare? Le parti "statiche" come le pagine web non verranno
      tradotte in ulteriori lingue in automatico, ma le parti "dinamiche" come nomi e descrizioni del menù potranno
      essere tradotti in qualunque momento dallo staff.</p>

    <ng-template #languageItemContent let-item>{{ item | language }}</ng-template>
    <app-preferences-multiple-select
        [formControlName]="'available_locales'"
        [items]="allLanguages"
        [itemContent]="languageItemContent"
        [stringifyFn]="applyPipeFunction(languagePipe)"
        (submit)="save('available_locales', $event)"
        [inputSize]="inputSize"
    >
      <ng-container i18n>Seleziona molte lingue</ng-container>
    </app-preferences-multiple-select>
  </div>

  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Massimo persone per prenotazione</p>
    <p class="text-slate-400" i18n>Quando un utente crea una prenotazione, quante persone al massimo può
      selezionare?</p>

    <app-preferences-number-input
        [formControlName]="'max_people_per_reservation'"
        (submit)="save('max_people_per_reservation', $event)"
        [inputSize]="inputSize"
    >
      <ng-container i18n>Inserisci il numero massimo di persone per singola prenotazione.</ng-container>
    </app-preferences-number-input>
  </div>

  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Anticipo minino per cancellare una prenotazione</p>
    <p class="text-slate-400" i18n>Specifica quanto tempo prima l'utente può cancellare la prenotazione.</p>

    <!-- <app-preferences-number-input
        [formControlName]="'reservation_min_hours_advance_cancel'"
        (submit)="save('reservation_min_hours_advance_cancel', $event)"
        [inputSize]="inputSize"
        [postfix]="'ore'"
    >
      <ng-container i18n>Ore di anticipo minime.</ng-container>
    </app-preferences-number-input> -->

    <app-preferences-duration-input
      [formControlName]="'reservation_min_hours_advance_cancel'"
      (submit)="save('reservation_min_hours_advance_cancel', $event)"
      [outputMeasure]="'hours'"
      [inputMeasure]="'hours'"
      [inputSize]="inputSize"
    >
    <ng-container i18n>Anticipo minimo.</ng-container>
  </app-preferences-duration-input>

  </div>

  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Anticipo massimo prenotazione</p>
    <p class="text-slate-400" i18n>Si potranno creare prenotazioni fino ad un limite di {{ form.value['reservation_max_days_in_advance'] }} giorni da oggi.</p>

    <app-preferences-number-input
        [formControlName]="'reservation_max_days_in_advance'"
        (submit)="save('reservation_max_days_in_advance', $event)"
        [inputSize]="inputSize"
        [postfix]="'giorni'"
    >
      <ng-container i18n>Giorni massimi di anticipo per nuove prenotazioni.</ng-container>
    </app-preferences-number-input>
  </div>

  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Anticipo minimo nuove prenotazioni</p>
    <p class="text-slate-400" i18n>Se impostato a zero le persone potranno prenotare in tempo reale per la stessa ora, altrimenti almeno {{ form.value['reservation_min_hours_in_advance'] }} ore dopo l'orario attuale.</p>

    <app-preferences-duration-input
      [formControlName]="'reservation_min_hours_in_advance'"
      (submit)="save('reservation_min_hours_in_advance', $event)"
      [outputMeasure]="'hours'"
      [inputMeasure]="'hours'"
      [inputSize]="inputSize"
    >
    <ng-container i18n>Anticipo minimo per creare nuove prenotazioni.</ng-container>
  </app-preferences-duration-input>
  </div>

  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Costo coperto</p>
    <p class="text-slate-400" i18n>Se impostato ad un numero maggiore di zero, verrà mostrato dove necessario. Altrimenti sarà nascosto.</p>

    <app-preferences-number-input
        [formControlName]="'cover_price'"
        (submit)="save('cover_price', $event)"
        [inputSize]="inputSize"
        [postfix]="'€'"
    >
      <ng-container i18n>Costo del coperto.</ng-container>
    </app-preferences-number-input>
  </div>


  <div class="mb-4">
    <p class="text-lg font-bold" i18n>Link condiviso al post Instagram</p>
    <p class="text-slate-400" i18n>Il post in questione sarà visibile nella homepage, se impostato. Se assente, non verrà mostrata la sezione Instagram nella pagina web.</p>

    <app-preferences-text-input
        [formControlName]="'instagram_landing_page_url'"
        (submit)="save('instagram_landing_page_url', $event)"
        [inputSize]="inputSize"
    >
      <ng-container i18n>Link di condivisione post Instagram.</ng-container>
    </app-preferences-text-input>
  </div>
</form>
