<app-public-image-header [image]="'/assets/img/public-privacy-landing.webp'">
  <ng-container i18n>Privacy</ng-container>
</app-public-image-header>


<div class="max-w-[800px] mx-3 min-[800px]:mx-auto">
  <h3 class="block text-3xl font-bold mb-2" i18n>
    Aggiornamenti informativa in materia di protezione dei dati personali resa ai sensi del Regolamento UE N. 2016/679
  </h3>
  <p class="text-lg block mb-4" i18n>
    Gentile Cliente, quando visita il nostro sito web www.laportadacqua.com, può scegliere di non comunicare alcun dato
    personale, ma può anche decidere di comunicarci alcune informazioni che La riguardano come ad esempio il Suo nome e
    cognome, l’indirizzo, l’e-mail. Queste informazioni si possono rendere necessarie per contattarLa, per elaborare il
    Suo ordine o per offrirLe delle informazioni che potrebbero esserLe utili. Vogliamo che Lei sia messo al corrente di
    come i Suoi dati personali saranno trattati e quali sono i Suoi diritti. L'informativa è resa solo per il sito in
    oggetto e non anche per altri siti web eventualmente consultati dall'utente tramite link.
  </p>

  <h3 class="block text-3xl font-bold mb-2" i18n>
    Protezione dei dati personali
  </h3>
  <p class="text-lg block mb-4" i18n>
    La informiamo che, secondo il Regolamento UE N. 2016/679, il trattamento dei Suoi dati personali sarà improntato ai
    principi di correttezza, liceità e trasparenza, oltre che alla tutela della Sua riservatezza e dei Suoi diritti. Ai
    sensi dell’art. 13 del Regolamento UE N. 2016/679 (GDPR) Le forniamo le seguenti informazioni. Il Titolare del
    trattamento dei dati personali comunicati è (Nome azienda: Sospiri S.A.S. Di Manzi Giuseppe &amp; C. Rappresentante
    legale pro tempore: Giuseppe Manzi. Sede legale: San Polo 1097, 30125 VENEZIA. Partita Iva: 03780730275. Numero di
    telefono: +39 041 2412124. E-mail: info&#64;laportadacqua.it).
  </p>

  <h3 class="block text-3xl font-bold mb-2" i18n>
    Oggetto, finalità e base giuridica del trattamento
  </h3>
  <p class="text-lg block mb-4" i18n>
    Il Titolare tratta i dati personali delle persone fisiche, identificativi e non sensibili, forniti nell’ambito del
    rapporto contrattuale (a titolo esemplificativo, ma non esaustivo, nome, cognome, ragione sociale, indirizzo,
    telefono, e-mail) per le seguenti finalità:
  </p>
  <ul class="list-outside ps-[40px] list-[auto]">
    <li class="text-lg" type="A">
      <ng-container i18n>Senza il Suo consenso espresso per:</ng-container>
      <ul class="list-outside ps-[40px] list-[auto]">
        <li class="text-lg" i18n>
          Trattative precontrattuali e attività comunque necessarie alla conclusione del contratto e conseguente
          adempimento, ivi compresa la registrazione all’area riservata presente sul sito internet;
        </li>
        <li class="text-lg" i18n>
          L’adempimento agli obblighi di legge, da un regolamento, dalla normativa comunitaria o da un Ordine
          dell’Autorità ivi comprese, a titolo esemplificativo, attività amministrative, contabili e fiscali;
        </li>
      </ul>
    </li>
  </ul>
  <p class="text-lg block mb-4" i18n>
    La informiamo che, tenuto conto delle finalità del trattamento come sopra illustrate, il conferimento dei dati è
    facoltativo, ma il loro mancato, parziale o inesatto conferimento avrà come conseguenza l’impossibilità di concludere
    il contratto.
  </p>
  <ol type="A" start="2">
    <li class="text-lg">
      <ng-container i18n>Solo previo Suo specifico e distinto consenso, per le seguenti finalità:</ng-container>
      <ul class="list-outside ps-[40px] list-[auto]">
        <li class="text-lg" i18n>
          L’invio a mezzo e-mail di newsletter e/o inviti ad eventi
        </li>
      </ul>
    </li>
  </ol>
  <p class="text-lg block mb-4" i18n>
    In relazione a tale ultima finalità, precisiamo che il conferimento dei dati personali è facoltativo. Può quindi
    decidere di non fornire alcun dato o di negare successivamente la possibilità di trattare dati già forniti: in tal
    caso, non potrà ricevere via e-mail inviti ad eventi, newsletter, sondaggi di opinione e di gradimento. In ogni caso
    avrà diritto ai servizi di cui alla lettera A).
  </p>


  <h3 class="block text-3xl font-bold mb-2" i18n>
    Modalità di trattamento
  </h3>
  <p class="text-lg block mb-4" i18n>
    Il trattamento dei Suoi dati personali è realizzato per mezzo delle operazioni indicate dall’art. 4, n. 2, GDPR e
    precisamente: raccolta, registrazione, organizzazione, strutturazione, conservazione, adattamento, modifica,
    estrazione, consultazione, uso, comunicazione mediante trasmissione, diffusione o qualsiasi altra forma di messa a
    disposizione, raffronto, interconnessione, limitazione, cancellazione e distruzione. I Suoi dati personali sono
    sottoposti a trattamento sia cartaceo che elettronico e/o digitale, con logiche di organizzazione ed elaborazione
    strettamente correlate alle finalità stesse e comunque in modo da garantire la sicurezza, l’integrità e la
    riservatezza dei dati stessi.
  </p>


  <h3 class="block text-3xl font-bold mb-2" i18n>
    Accesso e comunicazione
  </h3>
  <p class="text-lg block mb-4" i18n>
    I Suoi dati potranno essere resi accessibili e/o comunicati:
  </p>
  <ul class="list-outside ps-[40px] list-[auto]">
    <li i18n class="text-lg">
      a dipendenti e collaboratori del titolare, nella loro qualità di soggetti autorizzati e/o responsabili interni del
      trattamento e/o amministratori del sistema;
    </li>
    <li i18n class="text-lg">
      a società terze o altri soggetti, comunque legati contrattualmente al Titolare che svolgono attività in outsourcing
      per conto del Titolare, anche eventualmente nella loro qualità di responsabili del trattamento;
    </li>
    <li i18n class="text-lg">
      a Organismi di vigilanza, Autorità giudiziarie nonché a tutti gli altri soggetti ai quali la comunicazione sia
      obbligatoria per legge per l’espletamento delle finalità suddette.
    </li>
  </ul>
  <p class="text-lg block mb-4" i18n>
    i Suoi dati non saranno diffusi.
  </p>


  <h3 class="block text-3xl font-bold mb-2" i18n>
    Trasferimento dei dati
  </h3>
  <p class="text-lg block mb-4" i18n>
    La gestione e la conservazione dei dati personali verrà svolta all’interno dell’Unione Europea su server ubicati in
    Germania del Titolare e/o di società terze incaricate e debitamente nominate quali Responsabili del trattamento.
  </p>


  <h3 class="block text-3xl font-bold mb-2" i18n>
    Periodo di conservazione dei dati
  </h3>
  <p class="text-lg block mb-4" i18n>
    Il Titolare tratterrà i dati personali raccolti
  </p>
  <ul class="list-outside ps-[40px] list-[auto]">
    <li i18n class="text-lg">
      per le finalità di cui alla lettera A): per il tempo necessario all’adempimento contrattuale e comunque per non
      oltre 10 anni dalla cessazione del rapporto;
    </li>
    <li i18n class="text-lg">
      per le finalità di cui al punto B): per non oltre 2 anni dalla raccolta dei dati.
    </li>
  </ul>

  <h3 class="block text-3xl font-bold mb-2" i18n>
    Diritti dell’Interessato
  </h3>
  <p class="text-lg block mb-4" i18n>
    Nella Sua qualità di interessato potrà, in qualsiasi momento, esercitare i seguenti diritti:
  </p>
  <ol type="a">
    <li i18n class="text-lg">
      di accesso ai dati personali;
    </li>
    <li i18n class="text-lg">
      di ottenere la rettifica e l’aggiornamento o la cancellazione degli stessi o la limitazione del trattamento che li
      riguardano;
    </li>
    <li i18n class="text-lg">
      di opporsi al trattamento;
    </li>
    <li i18n class="text-lg">
      di ottenere la portabilità dei dati;
    </li>
    <li i18n class="text-lg">
      di revocare il consenso, ove previsto: la revoca del consenso non pregiudica la liceità del trattamento basato sul
      consenso conferito prima della revoca;
    </li>
    <li i18n class="text-lg">
      di proporre reclamo all’Autorità di controllo.
    </li>
  </ol>
  <p class="text-lg block mb-4" i18n>
    L’esercizio dei Suoi diritti potrà avvenire attraverso l’invio di una e-mail all’indirizzo info&#64;laportadacqua.it.
  </p>


  <h3 class="block text-3xl font-bold mb-2" i18n>
    Autorizzazione per il trattamento dei dati personali:
  </h3>
  <p i18n class="mb-5">
    Gentile Cliente, a seguito dell’entrata in vigore del Regolamento generale sulla protezione dei dati personali (GDPR)
    U.E. N. 2016/679, se vuole continuare a ricevere comunicazioni via e-mail deve indicarlo. Altrimenti, non sarà
    possibile mandarLe comunicazioni che crediamo essere nel Suo interesse.
  </p>
</div>