<h4>
  <ng-container i18n>Piatti/bibite da accoppiare suggeriti</ng-container>
</h4>

<div class="items-list">
  @for (item of items(); track item.id) {
  <tui-island class="mb-2">
    <div class="flex justify-between items-center">
      <span class="flex items-center">
        <app-show-image style="max-width: 100px;" class="inline-block rounded me-2"
          *ngIf="item && item.images && item.images[0]" [image]="item.images[0]"></app-show-image>

        <div> {{ item.name }} </div>
      </span>

      <div class="flex items-center">
        <ng-template #deleteDropdown>
          <button class="m-4" tuiButton appearance="secondary-destructive" type="button" (click)="remove(item)">
            <ng-container i18n>Rimuovi suggerimento</ng-container>
          </button>
        </ng-template>

        <tui-hosted-dropdown [content]="deleteDropdown">
          <button size="m" tuiIconButton type="button" appearance="outline">
            <mat-icon>delete</mat-icon>
          </button>
        </tui-hosted-dropdown>
      </div>

    </div>
  </tui-island>
  } @empty {
  <p>
    <ng-container i18n>Non ci sono suggerimenti per questo piatto</ng-container>
  </p>
  }
</div>

@if (dish && dish.id) {
<form class="flex items-center" [formGroup]="newDishForm" (ngSubmit)="addDish()">
  <div class="grow me-1">
    <app-dish-select [filters]="{can_suggest: dish.id}" [formControlName]="'dish'">
      <ng-container i18n>Aggiungi associazione consigliata</ng-container>
    </app-dish-select>
  </div>

  <button [showLoader]="addingDish()" class="me-2" tuiButton size="m" type="submit">
    <ng-container i18n>Salva</ng-container>
  </button>
</form>
} @else {
error. no dish or dish.id
}