<tui-stepper class="justify-around" [activeItemIndex]="currentIndex()">
  <button (click)="setState(0)" [stepState]="getState(0)" tuiStep>
    @if (people.value && people.valid && currentIndex() > 0) {
      {{ people.value }}
      <ng-container i18n>ospiti</ng-container>
    } @else {
      <ng-container i18n>Quante persone?</ng-container>
    }
  </button>

  <button (click)="setState(1)" [stepState]="getState(1)" [disabled]="maxIndex() < 1" tuiStep>
    @if (datetime.value && datetime.valid && currentIndex() > 1) {
      {{ datetime.value | date: 'EEEE d MMMM y HH:mm' }}
    } @else {
      <ng-container i18n>Quando?</ng-container>
    }
  </button>

  <button (click)="setState(2)" [stepState]="getState(2)" [disabled]="maxIndex() < 2" tuiStep>
    <ng-container i18n>Contatti</ng-container>
  </button>

  <button (click)="setState(3)" [stepState]="getState(3)" [disabled]="maxIndex() < 3" tuiStep>
    <ng-container i18n>Riepilogo</ng-container>
  </button>
</tui-stepper>

<tui-carousel
    class="w-full h-full"
    [draggable]="false"
    [(index)]="currentIndex"
    [itemsCount]="1"
>
  <div class="p-3 flex items-center justify-center" *tuiItem>
    <div class="max-w-[500px]">
      <app-people-count-input [maxPeople]="maxPeople()" [formControl]="people">
        <span class="text-xl text-center mb-2 block" i18n>Seleziona il numero di ospiti</span>
      </app-people-count-input>

      @if (showErrorsFor(0)) {
        <app-errors [errors]="people.errors"></app-errors>
      }

      <tui-expand [expanded]="people.valid || maxIndex() > 0">
        <button (click)="nextStep()" tuiButton appearance="custom" class="btn-primary" type="button">
          <ng-container i18n>Continua</ng-container>
        </button>
      </tui-expand>
    </div>
  </div>

  <div class="p-3 flex items-center justify-center" *tuiItem>
    <div class="max-w-[500px]">
      <app-datetime-input #datetimeInput class="block mb-3" [maxDaysInAdvance]="maxDaysInAdvance()"
                          [formControl]="datetime"></app-datetime-input>

      @if (showErrorsFor(1)) {
        <app-errors [errors]="datetime.errors"></app-errors>
      }

      <!-- <tui-expand [expanded]="datetime.valid">
        <button (click)="nextStep()" tuiButton appearance="custom" class="btn-primary" type="button">
          <ng-container i18n>Continua</ng-container>
        </button>
      </tui-expand> -->
    </div>
  </div>

  <div class="p-3" *tuiItem>
    <form (ngSubmit)="nextStep()" class="mx-auto max-w-[500px]" [formGroup]="contacts">
      <div class="flex items-center mb-3">
        <div class="grow" >
          <tui-input [tuiAutoFocus]="true" class="grow me-2" [formControlName]="'firstName'">
            <ng-container i18n>Nome</ng-container>
            <input tuiTextfield autocomplete="given-name">
          </tui-input>

          @if (showErrorsFor(2)) {
            <app-errors [errors]="contacts.controls['firstName'].errors"></app-errors>
          }
        </div>

        <div class="grow" >
          <tui-input class="grow ms-2" [formControlName]="'lastName'">
            <ng-container i18n>Cognome</ng-container>

            <input tuiTextfield autocomplete="family-name">
          </tui-input>

          @if (showErrorsFor(2)) {
            <app-errors [errors]="contacts.controls['lastName'].errors"></app-errors>
          }
        </div>
      </div>

      <div class="mb-3">
        <tui-input [tuiAutoFocus]="true" class="grow me-2" [formControlName]="'email'">
          <ng-container i18n>Email</ng-container>

          <input tuiTextfield autocomplete="email">
        </tui-input>

        @if (showErrorsFor(2)) {
          <app-errors [errors]="contacts.controls['email'].errors"></app-errors>
        }
      </div>

      <div class="mb-3">
        <tui-input-phone-international
            [countries]="countries"
            [(countryIsoCode)]="countryIsoCode"
            [formControlName]="'phone'">
          <ng-container i18n>Cellulare</ng-container>
        </tui-input-phone-international>

        @if (showErrorsFor(2)) {
          <app-errors [errors]="contacts.controls['phone'].errors"></app-errors>
        }
      </div>

      <tui-expand [expanded]="contacts.valid">
        <button tuiButton appearance="custom" class="btn-primary" type="submit">
          <ng-container i18n>Continua</ng-container>
        </button>
      </tui-expand>
    </form>
  </div>

  <div class="p-3" *tuiItem>
    <form (ngSubmit)="nextStep()" class="mx-auto max-w-[500px]" [formGroup]="notesForm">

      <div class="mb-3">
        <tui-input-number [decimal]="'never'" [min]="0" [step]="1" [max]="people.value" formControlName="children">
          <ng-container i18n>Quanti bambini ci saranno con voi?</ng-container>
        </tui-input-number>
      </div>

      <div class="mb-3">
        <tui-textarea formControlName="notes">
          <ng-container i18n>Informazioni aggiuntive, se necessario, sono da aggiungere qui!</ng-container>
        </tui-textarea>
      </div>

      <div class="mb-3">
        <tui-checkbox-block formControlName="acceptTerms">
          <ng-container i18n>Accetto i termini e le condizioni</ng-container>
        </tui-checkbox-block>
      </div>

      <button [showLoader]="submitting()" [disabled]="notesForm.invalid" tuiButton appearance="custom"
              class="btn-primary" type="submit">
        <ng-container i18n>Conferma prenotazione</ng-container>
      </button>
    </form>
  </div>
</tui-carousel>

