<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 p-12">
  <div class="mb-8 flex flex-col items-start fit-content mx-auto">
    <img alt="La Porta d'acqua" class="mb-3" [ngSrc]="'/assets/img/logo-partial-name-dark.svg'" [width]="250"
         [height]="110.13">

    <div class="mb-3">
      <a target="_blank" tuiLink class="dark-link" [href]="'mailto:' + contact('email')">
        <div class="flex items-center">
          <div class="text-lg flex items-center">
            <mat-icon class="inline-block me-2">mail</mat-icon>

            <span class="inline-block">
              <ng-container i18n>Invia un email a</ng-container>

              {{ contact('email') }}</span>
          </div>
        </div>
      </a>
    </div>

    <div class="mb-3">
      <a target="_blank" tuiLink class="dark-link" [href]="'tel:' + toLink(contact('phone'))">
        <div class="flex items-center"> 
          <div class="text-lg flex items-center">
            <mat-icon class="inline-block me-2">phone</mat-icon>

            <span class="inline-block">
              <ng-container i18n>Chiamaci al</ng-container>

              {{ contact('phone') }}</span>
          </div>
        </div>
      </a>
    </div>

    <div class="mb-3">
      <a target="_blank" tuiLink class="dark-link" [href]="contact('whatsapp_url')">
        <div class="flex items-center">
          <app-icon [name]="'whatsapp-svg'" ></app-icon>

          <div class="text-lg">
            <span class="block" i18n>Scrivici su Whatsapp!</span>
          </div>
        </div>
      </a>
    </div>

    <div class="flex items-center justify-around w-full">
      <a target="_blank" tuiLink class="dark-link" [href]="contact('instagram_url')">
        <app-icon [name]="'instagram-svg'" ></app-icon>
      </a>

      <a target="_blank" tuiLink class="dark-link" [href]="contact('facebook_url')">
        <app-icon [name]="'facebook-svg'" ></app-icon>
      </a>

      <a target="_blank" tuiLink class="dark-link" [href]="contact('tripadvisor_url')">
        <app-icon [name]="'tripadvisor-svg'" ></app-icon>
      </a>
    </div>

  </div>

  <div class="w-fit mx-auto mb-8">
    <h3 class="text-2xl block mb-3 text-center">Orari</h3>
    <div class="grid grid-cols-2 text-xl overflow-hidden">
      <div class="me-2 text-end w-fit">Lunedì</div>
      <div class="w-fit">{{ message('openings_monday') }}</div>
      <div class="me-2 text-end w-fit">Martedì</div>
      <div class="w-fit">{{ message('openings_tuesday') }}</div>
      <div class="me-2 text-end w-fit">Mercoledì</div>
      <div class="w-fit">{{ message('openings_wednesday') }}</div>
      <div class="me-2 text-end w-fit">Giovedì</div>
      <div class="w-fit">{{ message('openings_thursday') }}</div>
      <div class="me-2 text-end w-fit">Venerdì</div>
      <div class="w-fit">{{ message('openings_friday') }}</div>
      <div class="me-2 text-end w-fit">Sabato</div>
      <div class="w-fit">{{ message('openings_saturday') }}</div>
      <div class="me-2 text-end w-fit">Domenica</div>
      <div class="w-fit">{{ message('openings_sunday') }}</div>
    </div>
  </div>

  <div class="col-span-1 md:col-span-2 xl:col-span-1">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.614772347502!2d12.331580915828495!3d45.437266343260816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eb1db193f1f51%3A0x8852e3e79481a8b5!2sLa%20Porta%20d&#39;Acqua%20-%20Restaurant%20On%20Grand%20Canal!5e0!3m2!1sit!2sit!4v1607717626810!5m2!1sit!2sit"
        class="my-auto" width="100%" height="100%" frameborder="0" allowfullscreen="" aria-hidden="false"
        tabindex="0 "></iframe>
  </div>
</div>

<div class="block mb-3 text-lg text-center">Sospiri S.A.S. P.iva: 03780730275 N° REA: VE - 337943</div>

<div class="block pb-5 text-lg text-center">
  © 2024 Copyright:
  <a tuiLink class="dark-link" routerLink="/privacy">Privacy</a> -
  <a tuiLink class="dark-link" routerLink="/disclaimers">Disclaimers</a> -
  <a tuiLink class="dark-link" routerLink="/terms-and-conditions" i18n>Termini e condizioni</a> -
  <a tuiLink class="dark-link" routerLink="/admin" i18n>Amministrazione</a>
</div>
