<tui-loader [showLoader]="loading()" [overlay]="true" size="l" >
  <div class="flex items-center">
    <h1 i18n>Copia piatto</h1>

    <span class="ml-2">
      <a tuiLink
         [routerLink]="{ categoryId: category()?.id, itemId: dish()?.id } | urlTo: 'dish.show'">{{ dish()?.name }}</a>
    </span>
  </div>

  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-3">
      <p i18n>Associa il nuovo piatto alla categoria</p>
      <app-menu-category-select [formControlName]="'category'">
        <ng-container i18n>Seleziona una categoria</ng-container>
      </app-menu-category-select>

      <app-errors [errors]="e('category')"></app-errors>
    </div>

    <tui-accordion class="mb-3" >
      <tui-accordion-item>
        <ng-container i18n>Dettagli</ng-container>
        <ng-template tuiAccordionItemContent>
          <div class="mb-3">
            <p class="mb-1" i18n>Copiare immagini?</p>
            <div
                tuiGroup
                class="group"
                [collapsed]="true">
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_images"
                  item="full"
                  size="l"
              >
                <ng-container i18n>Copia</ng-container>
              </tui-radio-block>
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_images"
                  item="link"
                  size="l"
              >
                <ng-container i18n>Associa esistenti</ng-container>
              </tui-radio-block>
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_images"
                  item="none"
                  size="l"
              >
                No
              </tui-radio-block>
            </div>

            <app-errors [errors]="e('copy_images')"></app-errors>
          </div>

          <div class="mb-3">
            <p class="mb-1" i18n>Copiare ingredienti?</p>
            <div
                tuiGroup
                class="group"
                [collapsed]="true">
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_ingredients"
                  item="link"
                  size="l"
              >
                <ng-container i18n>Associa esistenti</ng-container>
              </tui-radio-block>
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_ingredients"
                  item="none"
                  size="l"
              >
                No
              </tui-radio-block>
            </div>

            <app-errors [errors]="e('copy_ingredients')"></app-errors>
          </div>

          <div class="mb-3">
            <p class="mb-1" i18n>Copiare tag?</p>
            <div
                tuiGroup
                class="group"
                [collapsed]="true">
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_tags"
                  item="link"
                  size="l"
              >
                <ng-container i18n>Associa esistenti</ng-container>
              </tui-radio-block>
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_tags"
                  item="none"
                  size="l"
              >
                No
              </tui-radio-block>
            </div>

            <app-errors [errors]="e('copy_tags')"></app-errors>
          </div>


          <div class="mb-3">
            <p class="mb-1" i18n>Copiare allergeni?</p>
            <div
                tuiGroup
                class="group"
                [collapsed]="true">
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_allergens"
                  item="link"
                  size="l"
              >
                <ng-container i18n>Associa esistenti</ng-container>
              </tui-radio-block>
              <tui-radio-block
                  [hideRadio]="true"
                  contentAlign="right"
                  formControlName="copy_allergens"
                  item="none"
                  size="l"
              >
                No
              </tui-radio-block>
            </div>

            <app-errors [errors]="e('copy_allergens')"></app-errors>
          </div>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>

    <div class="flex items-center">
      <button class="me-2" type="submit" size="l" [appearance]="'primary'" tuiButton>
        <ng-container i18n>Conferma</ng-container>
      </button>

      <button class="me-2" (click)="cancel()" type="button" size="l" [appearance]="'outline'" tuiButton>
        <ng-container i18n>Annulla</ng-container>
      </button>
    </div>
  </form>
</tui-loader>