<h1 i18n>Esporta prenotazioni</h1>

<form [formGroup]="form" (ngSubmit)="export()">

  <div class="block mb-3">
    <tui-input [formControlName]="'query'">
      <ng-container i18n>Ricerca</ng-container>
    </tui-input>

    <app-errors [errors]="form.controls['query'].errors" ></app-errors>
  </div>

  <div class="block mb-3">
    <app-reservation-status-select [formControlName]="'status'">
      <ng-container i18n>Stato prenotazione</ng-container>
    </app-reservation-status-select>

    <app-errors [errors]="form.controls['status'].errors" ></app-errors>
  </div>

  <div class="block mb-3">
    <app-date-period [formControlName]="'created_at'">
      <span i18n>Data di creazione prenotazione</span>
    </app-date-period>
    <app-errors [errors]="form.controls['created_at'].errors" ></app-errors>
  </div>

  <div class="block mb-3">
    <app-date-period [formControlName]="'datetime'">
      <span i18n>Data di prenotazione prenotazione</span>
    </app-date-period>
    <span class="text-slate-400" i18n>(data in cui le persone vengono a mangiare)</span>

    <app-errors [errors]="form.controls['datetime'].errors" ></app-errors>
  </div>

  <div class="flex items-center justify-center">
    <button [disabled]="form.disabled" [showLoader]="loading()" class="me-2" type="submit" tuiButton appearance="primary">
      <ng-container i18n>Scarica excel</ng-container>
    </button>

    <button [disabled]="form.disabled || loading()" type="button" routerLink=".." tuiButton appearance="icon">
      <ng-container i18n>Annulla</ng-container>
    </button>
  </div>
</form>