@if(dish()) {
  <app-public-show-images class="block mb-3" [images]="dish()?.images" ></app-public-show-images>

  <div class="block my-3">
    <button type="button" tuiLink (click)="close()">
      <span class="flex">
        <mat-icon>arrow_back</mat-icon>
        <span i18n>Indietro</span>
      </span>
    </button>
  </div>

  @if((dish()?.tags || []).length > 0) {
     <app-public-menu-show-tags class="block mb-3" [tags]="dish()?.tags ?? []" ></app-public-menu-show-tags>
  }

  <h2 class="text-4xl mb-3">{{dish()?.name}}</h2>

  @if(dish()?.description) {
    <p class="text-xl text-slate-400 mb-3">{{ dish()?.description }}</p>
  }

  @if(showPrice() && (dish()?.price ?? 0) > 0) {
    <div class="text-lg w-fit text-success-dark rounded border border-success-dark py-2 px-4 mb-3">
      {{ dish()?.price | currency }}
    </div>
  }

  @if((dish()?.allergens || []).length > 0) {
    <app-public-menu-show-allergens class="block mb-3" [allergens]="dish()?.allergens ?? []" ></app-public-menu-show-allergens>
  }

  @if((dish()?.ingredients || []).length > 0) {
    <app-public-menu-show-ingredients [ingredients]="dish()?.ingredients ?? []"></app-public-menu-show-ingredients>
  }

  @if((dish()?.suggestions ?? []).length > 0) {
    <app-public-menu-show-suggestions [dishes]="dish()?.suggestions ?? []"></app-public-menu-show-suggestions>
  }
}
