<tui-select
    class="mb-2"
    [tuiTextfieldSize]="inputSize"
    [formControl]="control"
    [stringify]="stringifyFn"
    [valueContent]="itemContent"
>
  <ng-content></ng-content>
  <input
      [placeholder]="placeholder"
      tuiTextfield
  />
  <tui-data-list-wrapper
      [emptyContent]="noItemsContent"
      *tuiDataList
      [itemContent]="itemContent"
      [items]="shownItems"
  ></tui-data-list-wrapper>
<!--  <tui-data-list-wrapper-->
<!--      *tuiDataList-->
<!--      [items]="items"-->
<!--  ></tui-data-list-wrapper>-->
</tui-select>

<app-submit-expand (submit)="emitSubmit()" (cancel)="resetInitialValue()"
                   [expanded]="somethingChanged()"></app-submit-expand>