<app-public-home-landing class="section full-height"></app-public-home-landing>
<app-public-message [location]="'home-landing'"></app-public-message>
<app-public-home-about class="section full-height"></app-public-home-about>
<app-public-message [location]="'home-about'"></app-public-message>
<app-public-home-menu class="section full-height"></app-public-home-menu>
<app-public-message [location]="'home-menu'"></app-public-message>
<app-public-home-instagram class="section"></app-public-home-instagram>
<app-public-message [location]="'home-instagram'"></app-public-message>
<app-public-home-reserve class="section"></app-public-home-reserve>
