<form [autocomplete]="'off'" (ngSubmit)="submit()" [formGroup]="form">

  @if(form.value['date'] && utcTime()) {
    <app-reservation-tables-summary
        class="block mb-3"
        [filters]="{ date: form.value['date'], time: utcTime() ?? '' }"
    >
      <p>Situazione tavoli per l'orario selezionato:</p>
    </app-reservation-tables-summary>
  }

  <div class="mb-3">
    <div class="flex items-center">
      <tui-input-date [tuiDropdownOpen]="dateOpen()" [tuiAutoFocus]="true" [tuiTextfieldSize]="inputSize" [min]="today"
                      class="me-2 grow"
                      [formControlName]="'date'">
        <ng-container i18n>Data</ng-container>
      </tui-input-date>

      <!-- [tuiDropdownOpen]="timeOpen()"  -->
      <!-- [items]="validTimes()" -->
      <tui-input-time [tuiTextfieldSize]="inputSize" class="grow" formControlName="time">
        <ng-container i18n>Ora</ng-container>
      </tui-input-time>
    </div>

    @if (isMobile) {
      <button tuiButton appearance="icon" type="button" size="s" (click)="dateOpen.set(true)">
      <span class="flex items-center">
        <span class="me-1" i18n>Imposta data</span>
        <mat-icon>calendar_today</mat-icon>
      </span>
      </button>
    }

    <app-errors [errors]="e('date')"></app-errors>
    <app-errors [errors]="e('time')"></app-errors>
  </div>

  <div class="mb-3">
    <tui-input [tuiTextfieldSize]="inputSize" [formControlName]="'fullname'">
      <ng-container i18n>Nome</ng-container>
      <input tuiTextfield [autocomplete]="'off'" type="text">
    </tui-input>

    <app-errors [errors]="e('fullname')"></app-errors>
  </div>

  <div class="mb-3">
    <div class="flex items-center">
      <div class="flex flex-col grow" >
        <tui-input-number [tuiTextfieldSize]="inputSize" [formControlName]="'adults'" class="me-2 grow">
          <ng-container i18n>N° adulti</ng-container>
          <input tuiTextfield [autocomplete]="'off'" type="text">
        </tui-input-number>

        <app-errors [errors]="e('adults')" ></app-errors>
      </div>

      <div class="flex flex-col grow" >
        <tui-input-number [tuiTextfieldSize]="inputSize" [formControlName]="'children'" class="ms-2 grow">
          <ng-container i18n>N° bambini</ng-container>
          <input tuiTextfield [autocomplete]="'off'" type="text">
        </tui-input-number>

        <app-errors [errors]="e('children')" ></app-errors>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <tui-input [tuiTextfieldSize]="inputSize" [formControlName]="'email'">
      <ng-container i18n>Email</ng-container>
      <input tuiTextfield [autocomplete]="'off'" type="text">
    </tui-input>

    <app-errors [errors]="e('email')"></app-errors>
  </div>

  <div class="mb-3">
    <tui-input [tuiTextfieldSize]="inputSize" [formControlName]="'table'">
      <ng-container i18n>Tavolo</ng-container>
      <input tuiTextfield [autocomplete]="'off'" type="text">
    </tui-input>

    <app-errors [errors]="e('table')"></app-errors>
  </div>

  <div class="mb-3">
    <tui-input [tuiTextfieldSize]="inputSize" [formControlName]="'phone'">
      <ng-container i18n>Cellulare</ng-container>
      <input tuiTextfield [autocomplete]="'off'" type="text">
    </tui-input>

    <app-errors [errors]="e('phone')"></app-errors>
  </div>

  <div class="mb-3">
    <tui-input [tuiTextfieldSize]="inputSize" [formControlName]="'notes'">
      <ng-container i18n>Note</ng-container>
      <input tuiTextfield [autocomplete]="'off'" type="text">
    </tui-input>

    <app-errors [errors]="e('notes')"></app-errors>
  </div>

  <div class="flex">
    <button [showLoader]="loading" class="me-2" tuiButton type="submit" size="l">
      <ng-container i18n>Conferma</ng-container>
    </button>

    <button [showLoader]="loading" (click)="cancel()" tuiButton type="button" appearance="icon" size="l">
      <ng-container i18n>Annulla</ng-container>
    </button>
  </div>
</form>