<ng-template #rangeHint>
  @if(control.value && control.value.from && control.value.to) {
    <span class="me-1" i18n>Dal giorno</span>
    <span class="me-1">{{ control.value.from | fromTuiDay | date: 'fullDate' }}</span>
    <span class="me-1" i18n>fino al giorno</span>
    <span class="me-1">{{ control.value.to | fromTuiDay | date: 'fullDate' }}</span>
  }
</ng-template>

<ng-template #editDateModal let-obs>
  <ng-template #rangeCalendarModal let-rangeCalendarObs >
    <!-- [items]="periodOptions" -->
    <tui-calendar-range
      [min]="calendarMin"
      [max]="calendarMax"
      [value]="control.value"
      (valueChange)="selectRangeAndUnsub($event, rangeCalendarObs, obs)"
  ></tui-calendar-range>
  </ng-template>

  <div class="flex">
    <tui-calendar
      [value]="(control.value?.isSingleDay ? control.value?.from : control.value) || null"
      [min]="calendarMin"
      [max]="calendarMax"
      (dayClick)="selectDayAndUnsub($event, obs)"
    ></tui-calendar>

    <tui-data-list class="grow">
      @for(p of periodOptions; track p) {
        <button type="button" tuiOption (click)="selectRangeAndUnsub(p.range, obs)">
          {{ p.toString() }}

          @if(control.value == p.range) {
            <mat-icon>check</mat-icon>
          }
        </button>
      }

      <button type="button" (click)="fireModal(rangeCalendarModal)" tuiOption>
        <ng-container i18n>Altro range</ng-container>
      </button>

    </tui-data-list>
  </div>

  <hr class="block w-[1px] my-3">
	

@if(control.value && control.valid) {
  <p class="text-slate-400 block mb-3">
    <span [tuiHint]="rangeHint" >{{ control.value | stringifyTuiDayRange }}</span>
  </p>
} @else {
  <p class="block text-red-200">
    <ng-container i18n>Nessuna data selezionata.</ng-container>
  </p>
}

</ng-template>

<div class="flex border rounded border-slate-200 items-center justify-between">
  <div class="h-full border-r border-slate-200">
    <button class="h-full flex items-center justify-center p-2" type="button" (click)="prevDay()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <button (click)="fireModal(editDateModal)" type="button" class="flex items-center justify-center grow">
    @if(control.valid && control.value) {
      <span [tuiHint]="rangeHint" >{{ control.value | stringifyTuiDayRange }}</span>
    } @else {
      <ng-content></ng-content>
    }

    <mat-icon class="ms-1" >event</mat-icon>
  </button>

  <div class="h-full border-l border-slate-200">
    <button class="h-full flex items-center justify-center p-2" type="button" (click)="nextDay()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>