<ng-template #navigateBackBtn>
  @if(selectedCategory()) {
  <div class="block my-3">
    <a type="button" tuiLink [routerLink]="['..']">
      <span class="flex">
        <mat-icon>arrow_back</mat-icon>
        <span i18n>Indietro</span>
      </span>
    </a>
  </div>
  }
</ng-template>

<div class="max-w-[800px] md:mx-auto mx-2">
  <tui-loader [showLoader]="loading()" [overlay]="true">

    @if(selectedCategory()) {
    <p class="text-5xl block mb-3">{{ selectedCategory()?.name }}</p>

    @if(selectedCategory()?.description?.length) {
    <p class="text-xl block mb-2 text-slate-400">{{ selectedCategory()?.description }}</p>
    }

    @if(selectedCategory()?.price) {
    <div class="text-lg w-fit text-primary rounded mb-2">
      <ng-container i18n>Menù a prezzo fisso</ng-container>
      : {{ selectedCategory()?.price | currency }}
    </div>
    }

    <div class="block mb-3">
      <div class="flex items-center">
        <a role="button" routerLink="/menu" class="text-lg like-anchor me-1">
          Menu
        </a>

        <mat-icon class="me-1">chevron_right</mat-icon>

        @for(cat of breadcrumbs(); track cat.id; let last = $last; let index = $index){
        <a [routerLink]="[breadcrumbUrls()[index]]" class="text-lg like-anchor me-1">
          {{ cat.name }}
        </a>

        <mat-icon class="me-1">chevron_right</mat-icon>
        }

        <span class="me-1 text-lg text-slate-600">
          {{ selectedCategory()?.name }}
        </span>
      </div>
    </div>

    <!-- <div>
        <app-public-show-images class="block max-w-[200px]" [images]="selectedCategory()?.images" ></app-public-show-images>
      </div> -->
    <!-- </div> -->

    <ng-container *ngTemplateOutlet="navigateBackBtn"></ng-container>
    } @else {
    <h1 class="text-5xl block mb-3" i18n>Menù</h1>
    <p class="text-xl block mb-2 text-slate-400" i18n>Naviga attraverso il menù cliccando sopra ai piatti per
      consultarne i dettagli.</p>
    }

    @if(categories().length == 0 && dishes().length == 0) {
    @if(loading()) {
    <ng-container i18n>Stiamo caricando i piatti migliori di tutta Venezia, un attimo di pazienza...</ng-container>
    } @else {
    <ng-container i18n>Non abbiamo trovato nulla.</ng-container>
    }
    }

    @for(category of categories(); track category.id; let last = $last) {
    <a [routerLink]="[category.id]" role="button"
      class="hover-transition justify-between cursor-pointer flex items-center py-3">
      <div class="flex items-center">
        <div class="min-w-[10vw] max-w-[10vw] justify-center align-center me-3">
          <app-public-show-images class="block" [images]="category?.images"></app-public-show-images>
        </div>

        <div class="justify-center align-center">
          <p class="text-3xl">{{ category.name }}</p>
          <p class="text-lg text-slate-400">{{ category.description }}</p>
          @if(category.price) {
          <div class="text-lg w-fit text-primary rounded">
            <ng-container i18n>Menù a prezzo fisso</ng-container>
            : {{ category.price | currency }}
          </div>
          }
        </div>
      </div>

      <div>
        <button type="button" size="l" tuiIconButton appearance="flat">
          <!-- <ng-container i18n>Apri</ng-container> -->
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </a>

    @if(!last){
    <hr style="height: 1px" class="border-slate-200 mb-5">
    }
    }

    @if(dishes().length && categories().length) {
    <p class="text-4xl mb-3 block">
      <ng-container i18n>
        La selezione
      </ng-container>
    </p>
    }

    @for(dish of dishes(); track dish.id; let last = $last) {
    <!-- (click)="clickOnDish(dish)" -->
     <!-- [routerLink]="'.'" [queryParams]="{dishId: dish.id}"  -->
    <a (click)="showDishDetail(dish)" role="button"
      class="hover-transition md:justify-between cursor-pointer flex items-center py-3 justify-center">
      <div class="flex md:flex-row flex-col items-center">
        <div class="min-w-[20vw] max-w-[50vw] md:max-w-[20vw] justify-center align-center me-3">
          <app-public-show-images class="block" [images]="dish?.images"></app-public-show-images>
        </div>

        <div class="justify-center align-center">
          <p class="text-xl md:text-start text-center">{{ dish.name }}</p>
          <p class="text-lg md:text-start text-center text-slate-400">
            <ng-template #dishDesc>
              <span style="line-height: 28px;">
                {{ dish.description }}
              </span>
            </ng-template>

            <tui-line-clamp [lineHeight]="28" [linesLimit]="8" [content]="dishDesc">

            </tui-line-clamp>
          </p>
        </div>

        <div class="text-lg w-fit text-primary rounded py-2 px-4">
          @if(dish.price == 0) {
          <ng-container>-</ng-container>
          } @else if (showDishPrice()) {
          {{ dish.price | currency }}
          }
        </div>

        <div class="md:hidden">
          <button type="button" tuiLink>
            <span class="flex">
              <mat-icon>visibility</mat-icon>
              <span class="ms-1" i18n>Dettagli</span>
            </span>
          </button>
        </div>
      </div>
    </a>

    @if(!last){
    <hr style="height: 1px" class="border-slate-200 mb-5">
    }
    }


    @if(coverPrice()) {
      <p class="text-2xl cover-charge">
        <strong>
          Coperto {{ coverPrice() | currency }}
        </strong>

      </p>
    }


    <ng-container *ngTemplateOutlet="navigateBackBtn"></ng-container>

  </tui-loader>
</div>
