@if (createdReservation()) {
  <app-public-reservation-confirmation [shareDetailsLinkShown]="true" [reservation]="createdReservation()"></app-public-reservation-confirmation>
} @else {
  <div class="mx-4 md:mx-8 lg:mx-12 my-3">
    <h2 class="text-5xl text-center text-primary mb-2">
      <ng-container i18n>Prenota ora</ng-container>
    </h2>
  
    <hr class="bg-primary w-3/4 mx-auto h-[1px] mb-5">

    <p class="text-xl text-center mb-3">
      <ng-container i18n>Riserva il tuo posto ad uno dei nostri tavoli e garantisciti la nostra esperienza esclusiva.
      </ng-container>
    </p>

    <app-public-message class="block mb-3 text-center text-xl" [location]="'new-reservation-form'"></app-public-message>

    <app-public-reservation-formv2></app-public-reservation-formv2>
  </div>
}