<app-public-image-header [image]="'/assets/img/public-disclaimers-landing.webp'">
  <ng-container i18n>Termini e condizioni d'utilizzo</ng-container>
</app-public-image-header>

<div class="max-w-[800px] mx-3 min-[800px]:mx-auto">
<h3 class="block text-3xl font-bold mb-2" i18n>Pagamenti e preautorizzazioni</h3>
<p class="text-lg block mb-4" i18n>
  La prenotazione deve essere cancellata entro i termini stabiliti, altrimenti si potrà incorrere in penali.

  Nel caso di ritardo nel cancellare o di mancata presentazione, verrà trattenuta la somma pattuita in fase di prenotazione.

  La cancellazione della prenotazione nel pieno rispetto dei termini e condizioni non porteranno ad alcuna penale.
</p>

<div class="block mb-4" >
  <app-contact-us>Per qualunque altro dubbio contattaci senza esitazione</app-contact-us>
</div>

</div>