<app-public-image-header [image]="'/assets/img/public-disclaimers-landing.webp'">
  <ng-container i18n>Termini e condizioni d'utilizzo</ng-container>
</app-public-image-header>

<div class="max-w-[800px] mx-3 min-[800px]:mx-auto">
<h3 class="block text-3xl font-bold mb-2" i18n>Pagamenti e preautorizzazioni</h3>
<p class="text-lg block mb-4" >
  <ng-container i18n>
    Al momento della prenotazione non sarà prelevata alcuna somma, e le informazioni e l’inserimento della carta di credito saranno
    trattenute solo a garanzia della prenotazione.
    Ristorante  La Porta d’Acqua non avrà accesso ai dati forniti, i quali verranno gestiti esclusivamente dal nostro partner che processa i
    pagamenti (Nexi Payments S.p.A) e tali informazioni saranno gestite secondo 
  </ng-container>

  <a href="https://ecommerce.nexi.it/sites/default/files/documenti/termini-condizioni-nexi.pdf" tuiLink>
    <ng-container i18n>i termini e le condizioni d'utilizzo di Nexi Payments S.p.A</ng-container>
  </a>
</p>


<div class="max-w-[800px] mx-3 min-[800px]:mx-auto">
  <h3 class="block text-3xl font-bold mb-2" i18n>POLITICA DI CANCELLAZIONE:</h3>
<p class="text-lg block mb-4" i18n>
  Sarà possibile cancellare la prenotazione attraverso la mail di conferma entro 12 ore dall’orario della vostra prenotazione senza incorrere in nessuna penalità.
  
  LE CANCELLAZIONI DEVONO ESSERE FATTE ESCLUSIVAMENTE SUL SITO WEB.
  
  La somma pre autorizzata verrà rilasciata al momento dell’arrivo al ristorante nell’orario confermato
  
  Le modifiche o la cancellazione della prenotazione nel pieno rispetto dei termini e condizioni non porteranno ad alcuna penale.
  
  Nel caso di ritardo nel cancellare o di mancata presentazione, saranno addebitati 25€ a persona prenotata.
  
  Verrà emessa fattura per l’importo addebitato in carta di credito. In caso di modifica successiva della prenotazione si fa riferimento alla data dell’ultima modifica.
</p>

<div class="block mb-4" >
  <app-contact-us>Per qualunque altro dubbio contattaci senza esitazione</app-contact-us>
</div>

</div>