<tui-expand [expanded]="date.invalid">
  <p class="text-xl text-center mb-3">
    <ng-container i18n>Scegli la data</ng-container>
  </p>

  <div class="flex flex-col items-center justify-center">
    <tui-calendar [min]="today()" [max]="showOnlyValidDates() ? maxDate() : null" (monthChange)="onMonthChange($event)"
      [disabledItemHandler]="disabledDates" (touchend)="touched()" (dayClick)="onDayClick($event)"
      [value]="lastDate()"></tui-calendar>

    @if(hasSeenInvalidDateMessage()){
    <div class="p-3">
      <tui-checkbox-block [contentAlign]="'left'" [ngModel]="showOnlyValidDates()"
        (ngModelChange)="showOnlyValidDates.set(!(showOnlyValidDates()))">
        <ng-container i18n>Solo date selezionabili</ng-container>
      </tui-checkbox-block>
    </div>
    }
  </div>
</tui-expand>

<tui-expand [expanded]="date.valid">
  @if (date.value) {
  <p class="text-xl mb-2">
    <ng-container i18n>Seleziona l'orario per il giorno</ng-container>
    <span (click)="date.reset()" class="cursor-pointer inline-flex items-center ms-2 underline">
      {{ date.value.toUtcNativeDate() | date: 'EEEE d MMMM y' }}

      <mat-icon class="ms-1">edit</mat-icon>
    </span>
  </p>
  }

  @if (loadingTimes()) {
  <tui-loader [showLoader]="true"></tui-loader>
  } @else {
  @if(validTimes().length > 0) {
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3">
    @for (item of validTimes(); track item) {
    <button type="button" (click)="onTimeClick(item)" size="m" tuiButton appearance="custom"
      [ngClass]="{'btn-primary': time.value && time.value.hours == item.hours && time.value.minutes == item.minutes, 'btn-primary-outline': !(time.value && time.value.hours == item.hours && time.value.minutes == item.minutes)}">
      {{ item }}
    </button>
    }
  </div>

  }

  @if(holidayMessages().length){
  <div class="w-full my-5 border border-primary p-3 rounded-lg">
    @for(w of holidayMessages(); track w){
    <div class="w-full text-pretty my-3 text-xl" [innerHTML]="w | linkify" ></div>
    }
  </div>
  }

   <tui-expand [expanded]="tableTypes().length > 0">
     <div class="w-full my-5">
       <p class="text-xl text-pretty">
         <ng-container i18n>Seleziona il tipo di tavolo (opzionale)</ng-container>
       </p>
   
       @for (item of tableTypes(); track item; let isLast = $last) {
          <div class="w-full mb-3 border border-primary p-3 rounded-lg" >
            <p class="font-bold block mb-2 text-lg">
              {{ item.table_type?.name }}
            </p>

            <p class="block mb-2" >
              {{ item.table_type?.description }}
            </p>

            <app-public-show-images class="block" [images]="item?.table_type?.images || []"></app-public-show-images>

            <p> <ng-container i18n>Prezzo:</ng-container> {{ item.price | currency }} <ng-container i18n>per persona</ng-container> </p>

            <tui-checkbox-block [contentAlign]="'left'" [ngModel]="tableTypeId() === item.table_type_id"
              (ngModelChange)="updateTableTypeId($event ? item.table_type_id : null)">
              <ng-container i18n>Richiedi questo tavolo</ng-container>
            </tui-checkbox-block>
          </div>
         }
      </div>
   </tui-expand>

  @if(warningsToShow().length > 0){
  <div #warningsDiv class="w-full my-5 border border-primary p-3 rounded-lg">
    @for(w of warningsToShow(); track w){
    <div class="w-full text-pretty my-3 text-xl" [innerHTML]="w | linkify" ></div>
    }
    <button class="mb-3" tuiButton (click)="warningAccepted.setValue(true)" appearance="primary" size="m" type="button">
      <ng-container i18n>Conferma</ng-container>
    </button>
  </div>
  }

  @if(validTimes().length == 0) {
  <div>
    <p class="text-xl text-danger block mb-3">
      <ng-container i18n>Siamo spiacenti, non sono disponibili orari per la data selezionata.</ng-container>

      @if(lastDateAfterMaxDate()) {
      <ng-container i18n>L'ultimo giorno prenotabile è</ng-container>
      {{ maxDate()?.toLocalNativeDate() | date: 'fullDate' }}
      }
    </p>


    <button tuiButton type="button" (click)="findValidDate()">
      <ng-container i18n>Trova una data</ng-container>
    </button>
  </div>
  }
  }
</tui-expand>