<ng-template #additionalFiltersTemplate>
  <form (ngSubmit)="closeFiltersModal()" [formGroup]="hiddenFormGroup">
    <div class="block mb-3">
      <div class="flex items-center">
        <tui-input [tuiTextfieldSize]="'l'" class="grow me-2" [tuiAutoFocus]="true" [formControl]="query">
          <ng-container i18n>Filtra prenotazioni</ng-container>
          <input tuiTextfield>
        </tui-input>
      </div>
    </div>

    <div class="block mb-3">
      <app-reservation-status-select [showCleaner]="true" [inputSize]="'l'" [formControl]="status">
        <ng-container i18n>Stato prenotazione</ng-container>
      </app-reservation-status-select>
    </div>

    <tui-accordion class="block mb-3" >
      <tui-accordion-item>
        <ng-container i18n>Filtri aggiuntivi</ng-container>
        <ng-template tuiAccordionItemContent>

          <div class="block mb-3">
            <app-table-type-select [inputSize]="'l'" [formControlName]="'table_type'">
              <ng-container i18n>Tipologia di tavolo associata</ng-container>
            </app-table-type-select>
          </div>

          <div class="block mb-3">
            <app-select-payment-status [formControlName]="'payment_status'">
              <ng-container i18n>Stato del pagamento</ng-container>
            </app-select-payment-status>
          </div>

          <div class="block mb-3">
            <app-select-reservation-payment-preorder-type [formControlName]="'preorder_type'">
              <ng-container i18n>Tipologia di pagamento</ng-container>
            </app-select-reservation-payment-preorder-type>
          </div>

          <div class="block mb-3">
            <div class="flex items-center">
              <tui-input [tuiTextfieldSize]="'l'" class="grow me-2" [formControlName]="'payment_external_id'">
                <ng-container i18n>ID esterno pagamento (N. ordine nexi)</ng-container>
                <input tuiTextfield>
              </tui-input>
            </div>
          </div>

        </ng-template>
      </tui-accordion-item>
    </tui-accordion>

    <button tuiButton appearance="primary" type="submit">
      <ng-container i18n>Chiudi</ng-container>
    </button>
  </form>
</ng-template>

<div class="flex flex-wrap items-center">
  <div class="col-12 md:col-4">
    <app-reservation-date-select [formControl]="date">
      <ng-container i18n>Data</ng-container>
    </app-reservation-date-select>
  </div>

  <div class="col-12 md:col-3 px-1">
    <app-reservation-turn-select [showCleaner]="true" [filters]="{date: dateStr()}" [inputSize]="'m'"
      style="min-width: 150px;" class="mx-2" [formControl]="turn">
      <ng-container i18n>Turno</ng-container>
    </app-reservation-turn-select>
  </div>

  <div class="col-10 md:col-3">
    <ng-template #stringifyOrderBy let-all>
      {{ all.humanLabel }}
    </ng-template>

    <tui-select [valueContent]="stringifyOrderBy" [tuiTextfieldCleaner]="true" [tuiTextfieldSize]="'m'"
      [formControl]="orderBy">
      <ng-container i18n>Ordina per</ng-container>

      <tui-data-list-wrapper *tuiDataList [itemContent]="stringifyOrderBy" [items]="orderByOptions">
        ></tui-data-list-wrapper>
    </tui-select>
  </div>

  <div class="col-2 md:col-1 overflow-hidden">
    <button (click)="fireModal(additionalFiltersTemplate)" type="button" [showLoader]="loading" tuiIconButton
      appearance="flat">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>

  <div class="col-12">
    @if(status.value){
    <app-chip class="me-1" (removeClick)="status.patchValue(null)">
      <ng-container i18n>Stato</ng-container>: <app-reservation-status [status]="status.value"></app-reservation-status>
    </app-chip>
    }

    @if(query.value){
    <app-chip class="me-1" (removeClick)="query.patchValue(null)">
      <ng-container i18n>Ricerca per</ng-container>: {{ query.value }}
    </app-chip>
    }

    @if(hiddenFormGroup.controls.table_type.value) {
    <app-chip class="me-1" (removeClick)="hiddenFormGroup.controls.table_type.patchValue(null)">
      <ng-container i18n>Tipologia di tavolo</ng-container>: {{ hiddenFormGroup.controls.table_type.value.name }}
    </app-chip>
    }

    @if(hiddenFormGroup.controls.payment_status.value) {
    <app-chip class="me-1" (removeClick)="hiddenFormGroup.controls.payment_status.patchValue(null)">
      <ng-container i18n>Stato pagamento</ng-container>:
      <app-payment-status [status]="hiddenFormGroup.controls.payment_status.value"></app-payment-status>
    </app-chip>
    }

    @if(hiddenFormGroup.controls.preorder_type.value) {
    <app-chip class="me-1" (removeClick)="hiddenFormGroup.controls.preorder_type.patchValue(null)">
      <ng-container i18n>Tipologia pagamento</ng-container>:
      <app-reservation-payment-preorder-type
        [value]="hiddenFormGroup.controls.preorder_type.value"></app-reservation-payment-preorder-type>
    </app-chip>
    }

    @if(hiddenFormGroup.controls.payment_external_id.value) {
    <app-chip class="me-1" (removeClick)="hiddenFormGroup.controls.payment_external_id.patchValue(null)">
      <ng-container i18n>N. Ordine nexi</ng-container>:
      {{ hiddenFormGroup.controls.payment_external_id.value }}
    </app-chip>
    }
  </div>
</div>

<ng-content></ng-content>

<tui-table-pagination class="my-2" [size]="100" [items]="[10, 100, 1000]" [total]="data?.metadata?.total_count ?? 0"
  (paginationChange)="paginationChange($event)">
</tui-table-pagination>

<div class="flex items-center mb-2">
  <a routerLink="export" tuiLink>
    <span class="flex items-center">
      <mat-icon>download_file</mat-icon>
      <ng-container i18n>Esporta prenotazioni</ng-container>
    </span>
  </a>
</div>