/* You can add global styles to this file, and also import other style files */

@use "sass:math";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/styles/rotations.scss";
@import "assets/styles/responsive-table.scss";
@import "assets/styles/fonts.scss";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
  * Drag and drop shake animation
 */
.drag-shake {
  animation: tilt-shaking 0.3s infinite;
}

:root {
  --first-color: #A65C23;
  --second-color: #D4B895;
  --third-color: #030303;
  --fourth-color: #F5ECD2;
  --fifth-color: #B09A7D;
  --sixth-color: #EEEAE3;
  --seventh-color: #EFE1CE;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  @apply text-4xl;
  @apply mb-3;
  @apply block;
}

app-home-layout, app-contacts {
  font-family: Neuton, Roboto, sans-serif;
  --tui-primary: var(--first-color);
  --tui-primary-hover: var(--second-color);
  --tui-link: var(--first-color);
  --tui-link-hover: var(--second-color);
  --tui-secondary-hover: var(--fourth-color);

  .selected-link, .active-link, a.active {
    font-weight: bold;
  }

  .like-anchor {
    text-decoration: none;
    transition-property: color;
    transition-duration: var(--tui-duration, .3s);
    transition-timing-function: ease-in-out;
    color: var(--tui-link);
    cursor: pointer;
    outline: none;

    &:hover {
      color: var(--tui-link-hover);
    }
  }

  a.dark-link {
    color: black;
    fill: black;

    svg {
      transition-duration: var(--tui-duration, .3s);
    }

    &:hover {
      color: var(--first-color);
      fill: var(--first-color);
    }
  }

  .btn, .btn-primary, .btn-primary-outline, .btn-secondary, .btn-secondary-outline, .btn-danger, .btn-danger-outline {
    @apply focus:outline-none;
    @apply font-medium;
    @apply rounded-lg;
    @apply text-sm;
    @apply px-4;
    @apply py-2;
    @apply text-center;
    transition: all 0.3s;
  }

  .btn-primary {
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: white;

    &:hover {
      background-color: var(--seventh-color);
      border: 1px solid var(--seventh-color);
      color: var(--first-color);
    }
  }

  .btn-primary-outline {
    border: 1px solid var(--second-color);
    color: var(--second-color);
    background-color: white;

    &:hover {
      background-color: var(--second-color);
      color: white;
    }
  }

  .svg-fill-black {
    color: black;

    &, path, circle, rect, g {
      fill: black;
      color: black;
    }
  }
}

$colWidth: math.div(100, 12);

@layer utilities {
  @for $i from 1 through 12 {
    $_width: $i * $colWidth;
    $width: math.div($_width, 1) * 1%;

    .col-#{$i} {
      max-width: $width;
      flex: 0 0 $width;
    }
  }
}

tui-checkbox-block.centered {
  label {
    padding: 0 !important;
  }
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}