@if(payment()) {

  <ng-template #paymentStatus>
    <span class="text-center text-nowrap">
      <app-payment-status [status]="status()" ></app-payment-status>
    </span>
  </ng-template>

  <ng-template #modalTemplate>
    <h2 class="text-xl bold mb-3" i18n>Stato pagamento</h2>

    @if(payment()?.value){
      <div class="w-fit border font-bold rounded-md border-success-dark text-success-dark flex items-center p-2">
        {{ payment()?.value | currency }}
      </div>
    }

    @if(payment()?.external_id) {

       <div class="flex items-center justify-center">
         <span class="me-2 text-nowrap" i18n>Id pagamento:</span>

          <ng-template #externalId>
             {{ payment()?.external_id }}
          </ng-template>

          <tui-line-clamp [linesLimit]="1" [content]="externalId"></tui-line-clamp>

         <app-copy-content [content]="payment()?.external_id"></app-copy-content>
       </div>

    }

    <div>
      <ng-container i18n>Tipologia ordine</ng-container>
      : <app-reservation-payment-preorder-type [value]="payment()?.preorder_type" ></app-reservation-payment-preorder-type>
    </div>

    <div class="flex items-center">
      <div class="me-2">
        <ng-container *ngTemplateOutlet="paymentStatus" ></ng-container>
      </div>

      <ng-template #hintForRefresh>
        <ng-container i18n>Aggiorna stato (scarica ultima versione dal gateway di pagamento)</ng-container>
      </ng-template>

      <button [tuiHint]="hintForRefresh" (click)="fetchPaymentStatus()" size="m" type="button" tuiIconButton [showLoader]="loading()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    @switch(status()){
      @case("paid"){
        <p class="my-3" i18n>Il pagamento è stato completato con successo.</p>

        <button [showLoader]="loading()" (click)="cancelPayment()" tuiButton type="button" size="m" appearance="secondary-destructive" >
          <ng-container i18n>Storna pagamento</ng-container>
        </button>
      }
      @case("authorized") {
        <p class="my-3" i18n>Il pagamento è stato autorizzato.</p>

        <button class="me-2" [showLoader]="loading()" (click)="confirmPayment()" tuiButton type="button" size="m" appearance="outline" >
          <ng-container i18n>CONFERMA pagamento</ng-container>
        </button>

        <button [showLoader]="loading()" (click)="cancelPayment()" tuiButton type="button" size="m" appearance="secondary-destructive" >
          <ng-container i18n>Storna pagamento</ng-container>
        </button>
      }
      @case("todo") {
        <p i18n>Link per completare il pagamento:</p>

       <div class="flex items-center justify-center">
          <ng-template #hppUrl>
            <a class="me-2" tuiLink target="_blank" href="{{payment()?.hpp_url}}">{{payment()?.hpp_url}}</a>
          </ng-template>

          <tui-line-clamp [linesLimit]="1" [content]="hppUrl"></tui-line-clamp>

         <app-copy-content [content]="payment()?.hpp_url"></app-copy-content>
       </div>
      }
      @case("refunded") {
        <p i18n>Il pagamento è stato rimborsato.</p>
      }
      @default{
        error
      }
    }
  </ng-template>

  <button type="button" (click)="showDialog(modalTemplate)" tuiButton size="m" appearance="outline">
    <ng-container *ngTemplateOutlet="paymentStatus" ></ng-container>
  </button>
} @else if(reservation()) {

  <ng-template #createPaymentTemplate let-obs>
    <h2 class="text-xl bold mb-3" i18n>Crea pagamento</h2>

    <p class="block text-slate-400 mb-2">
      {{ reservation()?.fullname }} - {{ reservation()?.datetime | date: 'full' }}
      - <app-reservation-people [adults]="reservation()?.adults" [children]="reservation()?.children" ></app-reservation-people>
    </p>

    <form (ngSubmit)="createPayment(obs)" [formGroup]="newPaymentForm">
      <div class="block mb-3">
        <tui-input-number [tuiAutoFocus]="true" [tuiTextfieldPostfix]="'€'" [formControl]="newPaymentForm.controls.amount">
          <ng-container i18n>
            Valore pagamento (assoluto)
          </ng-container>
        </tui-input-number>

        <p class="block my-2" i18n>Il valore che inserisci non verrà moltiplicato per il numero di persone.</p>

        <app-errors [errors]="newPaymentForm.controls.amount.errors"></app-errors>
      </div>

      <div class="block mb-3">

        <ng-template #deferredValue let-deferred>
          @if(deferred) {
            <ng-container i18n>Autorizzazione</ng-container>
          } @else {
            <ng-container i18n>Pagamento</ng-container>
          }
        </ng-template>


        <tui-select [valueContent]="deferredValue" [formControl]="newPaymentForm.controls.deferred">

          <ng-container i18n>Tipologia di addebito</ng-container>

          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="deferredValue"
            [items]="[true, false]"
          ></tui-data-list-wrapper>
        </tui-select>

        <app-errors [errors]="newPaymentForm.controls.deferred.errors"></app-errors>
      </div>

      <app-errors [errors]="newPaymentForm.errors"></app-errors>

      <button class="me-2" tuiButton appearance="primary" type="submit">
        <ng-container i18n>
          Conferma
        </ng-container>
      </button>

      <button tuiButton appearance="outline" type="button">
        <ng-container i18n>
          Annulla
        </ng-container>
      </button>
    </form>
  </ng-template>

  <button type="button" (click)="showDialog(createPaymentTemplate)" tuiButton size="m" appearance="outline">
     <ng-container i18n>Crea pagamento</ng-container>
  </button>
}
