<h1>
  <ng-container i18n>Prenotazioni</ng-container>
</h1>

<app-list-reservations-filters [loading]="list.loading()" (filtersChanged)="filtersChanged($event)" [data]="list.data()">
  <tui-loader [overlay]="true" [showLoader]="list.loading()">
    <app-admin-list-reservations #list [filters]="filters"></app-admin-list-reservations>
  </tui-loader>
</app-list-reservations-filters>


<app-reservation-tables-summary [showLoader]="list.loading()" [filters]="this.filters"></app-reservation-tables-summary>

<router-outlet></router-outlet>