<!--<ng-template #dragMeHint>-->
<!--  <ng-container i18n>Trascinami!</ng-container>-->
<!--</ng-template>-->

<div class="flex items-center justify-between">
  <div class="flex items-center">
    <h2 class="me-1" (click)="search()">
      @if(parentCategoryId){
      <ng-container i18n>Categorie</ng-container>
      } @else {
      <ng-container i18n>Menù</ng-container>
      }
    </h2>

    @if (data()?.metadata?.total_count) {
    <span class="me-1">({{ data()?.metadata?.total_count }})</span>
    }

    <ng-template #addItemDropdownContent>
      <tui-data-list role="menu">
        <a [routerLink]="this.parentCategoryId ?? '' | urlTo: 'menuCategory.createChild'" tuiOption>
          <span class="flex items-center">
            <mat-icon class="me-1">add_circle</mat-icon>
            <span i18n>Crea nuovo</span>
          </span>
        </a>

        @if (parentCategoryId) {
        <a [routerLink]="parentCategoryId | urlTo: 'menuCategory.linkCategory'" tuiOption>
          <span class="flex items-center">
            <mat-icon class="me-1">share</mat-icon>
            <ng-container i18n>Associa esistente</ng-container>
          </span>
        </a>
        }

      </tui-data-list>
    </ng-template>

    <tui-hosted-dropdown #addDropdown [content]="addItemDropdownContent">
      <button tuiButton appearance="flat" type="button" size="m">
        <span class="flex items-center">
          <mat-icon>add</mat-icon>
          <span i18n>Aggiungi</span>
          <mat-icon class="animation-speed-2" [ngClass]="{'rotate180': addDropdown.open}">expand_more</mat-icon>
        </span>
      </button>
    </tui-hosted-dropdown>
  </div>

  <ng-template #categoriesOptions>
    <tui-data-list role="menu">
      <button (click)="triggerFiltering()" tuiOption>
        <span class="flex items-center">
          <mat-icon class="me-1">search</mat-icon>
          <ng-container i18n>Filtra elementi</ng-container>
        </span>
      </button>

      <button (click)="exportAllMenu()" tuiOption>
        <tui-loader [overlay]="true" [showLoader]="exporting()">
          <span class="flex items-center">
            <mat-icon class="me-1">download</mat-icon>
            <ng-container i18n>Esporta tutto</ng-container>
          </span>
        </tui-loader>
      </button>

      <button (click)="triggerOrdering()" tuiOption>
        <span class="flex items-center">
          <mat-icon class="me-1">sort_by_alpha</mat-icon>
          @if (ordering()) {
          <ng-container i18n>Fatto.</ng-container>
          } @else {
          <ng-container i18n>Riordina</ng-container>
          }
        </span>
      </button>

      <!--      <a [routerLink]="parentCategoryId ?? '' | urlTo: 'menuCategory.export'" tuiOption>-->
      <!--        <span class="flex items-center">-->
      <!--          <mat-icon class="me-1">download</mat-icon>-->
      <!--          <ng-container i18n>Esporta</ng-container>-->
      <!--        </span>-->
      <!--      </a>-->
    </tui-data-list>
  </ng-template>

  <tui-hosted-dropdown [content]="categoriesOptions">
    <button tuiIconButton size="m" appearance="outline" type="button">
      <mat-icon>more_vert</mat-icon>
    </button>
  </tui-hosted-dropdown>
</div>

@if (filtering()) {
<div class="mt-3">
  <form class="flex items-center" (ngSubmit)="submitFilters()" [formGroup]="filters">
    <button [showLoader]="searching()" class="me-2" type="submit" tuiIconButton appearance="flat">
      <mat-icon>search</mat-icon>
    </button>

    <tui-input class="grow" [tuiTextfieldSize]="'m'" formControlName="query" tuiAutoFocus>
      <ng-container i18n>Filtra per nome o descrizione</ng-container>
      <input type="text" [autocomplete]="false" tuiTextfield>
    </tui-input>
  </form>
</div>
}

<progress [ngClass]="{'invisible': !loading()}" [size]="'s'" [value]="undefined" tuiProgressBar max="100"></progress>

<hr class="text-slate-400 my-3">

<div class="items-list" (cdkDropListDropped)="drop($event)" [ngClass]="{'allow-reorder': reorderEnabled()}"
  [cdkDropListDisabled]="!reorderEnabled()" cdkDropList>
  @for (item of items(); track item.id) {
  <ng-template #actions>
    <tui-data-list role="menu" *ngIf="item">
      <a [routerLink]="item.id | urlTo: 'menuCategory.show'" tuiOption>
        <span class="flex items-center">
          <mat-icon class="me-1">visibility</mat-icon>

          <span i18n>Visualizza</span>
        </span>
      </a>

      <a [routerLink]="item.id | urlTo: 'menuCategory.duplicate'" tuiOption>
        <span class="flex items-center">
          <mat-icon class="me-1">content_copy</mat-icon>
          <span i18n>Duplica</span>
        </span>
      </a>

      @if (item.visibility?.public_visible === true) {
      <a [routerLink]="item.id | urlTo: 'menuCategory.public'" type="button" tuiOption>
        <span class="flex items-center">
          <mat-icon class="me-1">link</mat-icon>
          <span i18n>Anteprima link pubblico</span>
        </span>
      </a>
      }

      @if (item.visibility?.private_visible === true) {
      <a [routerLink]="item.secret | urlTo: 'menuCategory.private'" type="button" tuiOption>
        <span class="flex items-center">
          <mat-icon class="me-1">share</mat-icon>
          <span i18n>Anteprima link privato</span>
        </span>
      </a>
      }

      <button type="button" (click)="remove(item)" tuiOption>
        <span class="flex items-center">
          <mat-icon class="me-1">delete</mat-icon>
          <span i18n>Rimuovi</span>
        </span>
      </button>

    </tui-data-list>
  </ng-template>

  <tui-island cdkDrag class="mb-2">
    <div class="flex justify-between items-center">
      <span class="flex items-center">
        <a [routerLink]="item.id | urlTo: 'menuCategory.show'">
          <app-show-image style="max-width: 100px;" class="inline-block rounded me-2"
            *ngIf="item && item.images && item.images.length > 0" [image]="item.images[0]"></app-show-image>
        </a>

        <div>
          <a tuiLink [routerLink]="item.id | urlTo: 'menuCategory.show'" class="text-lg">{{ item.name }}</a>

          <ng-container *ngIf="!parentCategoryId">
            <p *ngIf="item.visibility" [ngClass]="{'text-red-400': item.visibility.public_visible === false}"
              class="tui-island__category">
              <ng-template #notVisiblePublic>
                <ng-container i18n>NON pubblico</ng-container>

                <ng-template #notPublicMenu>
                  <ng-container i18n>Per renderlo pubblico, apri il menù, poi apri i dettagli e modifica la
                    Visibilità.</ng-container>
                </ng-template>

                <tui-tooltip [content]="notPublicMenu"></tui-tooltip>
              </ng-template>

              <ng-container *ngIf="item.visibility.public_visible === true; else notVisiblePublic">
                <ng-container i18n>Pubblico</ng-container>
              </ng-container>
            </p>
          </ng-container>

          <ng-container *ngIf="parentCategoryId">
            <p *ngIf="!(item.stats && item.stats.dishes && item.stats.dishes['active'] && item.stats.dishes['active'] > 0)"
              class="text-red-400 tui-island__category">
              <ng-container i18n>NON pubblico</ng-container>

              <ng-template #notPublicCategory>
                <ng-container i18n>Non ci sono piatti attivi all'interno di questa categoria.</ng-container>
              </ng-template>

              <tui-tooltip [content]="notPublicCategory"></tui-tooltip>
            </p>
          </ng-container>

          @if(item.stats && item.stats.dishes && item.stats.dishes["inactive"]) {
          <p class="tui-island__category">
            {{ item.stats.dishes["inactive"] }}
            <span class="ms-1" i18n>Piatti disattivati</span>

          </p>
          }
        </div>


      </span>

      @if (ordering()) {
      <button cdkDragHandle size="m" appearance="outline" type="button" tuiIconButton>
        <mat-icon class="drag-shake">drag_handle</mat-icon>
      </button>
      } @else {
      <tui-hosted-dropdown [content]="actions">
        <button cdkDragHandle size="m" appearance="outline" type="button" tuiIconButton>
          <mat-icon>more_vert</mat-icon>
        </button>
      </tui-hosted-dropdown>
      }

    </div>
  </tui-island>
  } @empty {
  @if (searching()) {
  <tui-loader size="m" [showLoader]="true"></tui-loader>
  } @else {
  <p class="text-center">
    <ng-container i18n>Non ci sono categorie</ng-container>
  </p>
  }
  }
</div>

@if (data()?.metadata?.next_page || data()?.metadata?.prev_page) {
<tui-table-pagination class="my-2" [items]="[10, 20, 50, 100]" [total]="data()?.metadata?.total_count ?? 0"
  (paginationChange)="paginationChange($event)">
</tui-table-pagination>
}